<% for(var index = 0; index < data.length; index++) { %>
<div class="col-md-4">
    <div class="card card-user">
        <div class="image">
            <img src="<%= data[index].post[0].img_src %>" alt="food image">
        </div>
        <div class="card-body">
            <div class="author">
                <a href="/kitchen/detail?index=<%= data[index].index %>">
                    <img class="avatar border-gray" src="<%= data[index].post[0].img_src %>" alt="...">
                    <h5 class="title"> <%= data[index].index + 1 %> 번째 오픈</h5>
                </a>
                <p class="description">
                    <%= data[index].date %>
                </p>
            </div>
            <hr>
            <p class="description text-center">
                <%= data[index].description %>
            </p>
        </div>
        <hr>
        <div class="button-container">
            <a class="btn btn-neutral btn-icon btn-round btn-lg" href="<%= data[index].url %>">
                <i class="fab far fa-comment"></i>
            </a>
        </div>
    </div>
</div>
<% } %>