<% for(var index = 0; index < data.length; index++) { %>
<div class="col-md-4">
    <div class="card card-user">
        <div class="image" style="height: 400px">
            <img src="https://github.com/duswnd25/yeonjung/blob/resource/resource/book/image/<%= data[index].isbn %>.jpg?raw=true"
                 alt="book cover">
        </div>
        <div class="card-body">
            <div class="author">
                <a href="<%= data[index].link %>">
                    <img class="avatar border-gray"
                         src="https://github.com/duswnd25/yeonjung/blob/resource/resource/book/image/<%= data[index].isbn %>.jpg?raw=true"
                         alt="book cover">
                    <h5 class="title"> <%= data[index].title %></h5>
                </a>
                <p class="description">
                    ISBN : <%= data[index].isbn %>
                </p>
            </div>
            <hr>
            <p class="description text-center">
                <%= data[index].summary %>
            </p>
        </div>
        <!--
        <hr>
        <div class="button-container">
            <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
                <i class="fab fa-facebook-f"></i>
            </button>
            <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
                <i class="fab fa-twitter"></i>
            </button>
            <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
                <i class="fab fa-google-plus-g"></i>
            </button>
        </div>
        -->
    </div>
</div>
<% } %>